# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Auth/node_modules
/Container/node_modules
/Dashboard/node_modules
/Marketing/node_modules


/Dashboard/package-lock.json
/Marketing/package-lock.json
/Auth/package-lock.json
/Container/package-lock.json


/FrontEnd.pdf
/Javascript-Interview-Guide.pdf





# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

    artifacts
    node_modules
    

    artifacts
    node_modules
    

    artifacts
    node_modules
    
